/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMONS*/
.container {
    width: 1280px;
    margin: auto;
}
.container-small {
    max-width: 1000px;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/*HEADER*/

    .main-nav ul li a .main-button{
        display: inline-block;
    }

    .logo, .main-nav, .main-button {
        display: inline-block;
        vertical-align: middle;
    }

    .logo{
        text-align: left;
        padding: 10px 10px 10px 10px;
    }
    .main-button {
        background-color: blue;
        color: white;
        padding: 5px 5px;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
    }

    .main-nav {
        font-size: 16px;
        width: 100%;
    }
    .main-nav ul li {
        display: inline-block;
        padding: 0 10px;
    }

    .link-sx{
        text-align: left;
        display: inline-block;
    }

    .link-dx{
        text-align: right;
        display: inline;
        margin-left: 250px;
    }

        /* HERO */
        .hero{
            background-color: rgb(102, 166, 226);
            float: left;
            width: 100%;
        }

        h1{
            text-align: left;
            margin-top: 20px;
            font-size: 50px;
            margin-left: 50px;
        }

        .description{
            margin-top: 50px;
            margin-left: 50px;
        }

        .hero-button{
            background-color: blue;
            color: white;
            padding: 10px 10px;
            text-align: center;
            vertical-align: middle;
            text-decoration: none;
            display: inline-table;
            margin-top: 30px;
            margin-left: 50px;
        }

        .text-under-button{
            margin-left: 30px;
            margin-left: 50px;
            margin-top: 15px;
        }

        .fa-solid, .fa-arrow-down{
            font-size: 40px;
        }
        /* FINE HERO */

/* FINE HEADER */

/* MAIN */
    /* COLONNA SX */
    .colonna_sx {
        border: 1px solid lightgrey;
        float: left;
        width: 30%;
        margin: 20px auto;
    }

    .col-dx-title, .col-sx-title, .col-centrale-title{
        text-align: center;
        padding: 10px 0px;
    }

    .professional{
        font-size: 17px;
        margin-left: 30px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .price{
        margin-left: 30px;
    }

    .price-period{
        margin-left: 30px;
        color: gray;
        margin-top: 5px;
        font-size: 13px;
    }

    .user{
        margin-left: 30px;
        margin-top: 30px;
        font-size: 13px;
    }

    .storage-space{
        margin-left: 30px;
        font-size: 13px;
        margin-top: 10px;
    }

    .function, .fa-fa-pencil{
        margin-left: 30px;
        font-size: 13px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .shop-now-button{
        background-color: blue;
        padding: 10px 30px;
        text-decoration: none;
        color: white;
        margin-left: 30px;
        font-size: 12px;
        text-align: center;
    }

    .shop-now-link{
        margin-left: 30px;
        font-size: 13px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .highlights{
        margin-left: 30px;
        margin-top: 20px;
        font-size: 15px;        
    }

    .list{
        margin-left: 30px;
        margin-top: 10px;
        font-size: 13px;
        line-height: 20px;
    }


    .check{
        font-family: 'Open Sans', sans-serif;
        color: rgb(0, 174, 255);
    }

    .fa-solid, .fa-pencil{
        font-size: 14px;
        margin: 0 0;
    }
    /* FINE COLONNA SX */

.colonna_dx {
    border: 1px solid lightgrey;
    float: left;
    width: 30%;
    margin: 20px auto;
}



.colonna_centrale {
    border: 1px solid lightgrey;
    float: left;
    width: calc(40% - 40px);
    margin: 20px;
}

h2{
    font-size: 30px;
    margin-top: 150px;
}

.checkbox-mensile{
    margin-right: 15px;
    display: inline-block;
    margin-top: 30px;
    font-size: 18px;
}

.checkbox-annuale{
    margin-top: 30px;
    display: inline-block;
    font-size: 18px;
}

.enterprise{
    background-color: purple;
    height: 60px;
    margin-top: 20px;
}

.team{
    text-align: center;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    padding: 5px 0;
    margin-bottom: 30px;
}

h3{
    display: inline-block;
    vertical-align: middle;
}

.enterprise-button{
    background-color: blue;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    margin-left: 30px;
    font-size: 12px;
    text-align: center;
    margin-left: 700px;
}

.enterprise-sub{
    margin-top: 10px;
    font-size: 12px;
    margin-bottom: 10px;        
}

.enterprise-soluction{
    font-size: 11px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.enterprise-box{
    border-bottom: 1px solid lightgray;
    width: 100%;
    margin-bottom: 100px;
}

.partner{
    float: left;
    width: calc(60% - 30px);
    min-height: 500px;
    margin: 20px 10px;
}

.text-partner{
    float: left;
    width: calc(40% - 30px);
    margin: 20px 10px;
    padding-left: 10px;
    padding-top: 20px;
}

.partner-paragraph{
    font-size: 12px;
    line-height: 20px;
    padding: 25px 0;
}

.partner-button{
    border: 1px solid black;
    padding: 5px 15px;
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.img-dx-sx{
    width: 250px;
    height: 200px;
    margin-left: 25px;
    vertical-align: middle;
}

.img-middle{
    width: 250px;
    height: 200px;
    margin-left: 30px;
    vertical-align: middle;
}

.dropbox-business-text{
    font-size: 13px;
    padding-top: 15px;
}

.colonna_sx_small {
    float: left;
    width: 30%;
    margin: 20px auto;
}

.colonna_dx_small {
    float: left;
    width: 30%;
    margin: 20px auto;
}

.colonna_centrale_small {
    float: left;
    width: calc(40% - 40px);
    margin: 20px;
}

h4{
    padding-top: 15px;
    vertical-align: middle;
}

.colonna_sx_big{
    float: left;
    width: 30%;
    margin: 20px auto;
}

.colonna_dx_big {
    float: left;
    width: 30%;
    margin: 20px auto;
}

.colonna_centrale_big {
    float: left;
    width: calc(40% - 40px);
    margin: 20px;
}

.logo-box-aqua{
    width: 180px;
    height: 180px;
    background-color: rgb(109, 223, 185);
}
.designit{
    width: 80px;
    height: 80px;
    margin-left: 55px;
    margin-top: 55px;
    display: inline-block;
}

.logo-box-bordeaux{
    width: 180px;
    height: 180px;
    background-color: brown;
}

.arizona-uni{
    width: 80px;
    height: 80px;
    margin-left: 55px;
    margin-top: 55px;
}